<header id="header" class="header d-flex flex-column justify-content-center">
  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <!-- href="/introduction" -->
        <a class="active" (click)="dataEmitter.emit('hero')">
          <i class="bi bi-house navicon"></i>
          <span>Introduction</span>
        </a>
      </li>
      <li>
        <!-- href="/chat" -->
        <a (click)="dataEmitter.emit('chat')">
          <i class="bi bi-chat-dots navicon"></i>
          <span>Chat</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
