<header id="header" class="header d-flex flex-column justify-content-center">
  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a (click)="sendData('hero')" [ngClass]="{'active': currentSection === 'hero'}">
          <i class="bi bi-house navicon"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a (click)="sendData('chat')" [ngClass]="{'active': currentSection === 'chat', 'blink-border': !isChatActive}">
          <i class="bi bi-chat-dots navicon"></i>
          <span>Chat</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
