.main {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.background-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.light-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.699);
}

.content {
  position: relative;
  height: 100%;
  /*height: calc(100vh - 60px); /* Adjust based on header height */
  width: 100%;
  overflow: hidden;
}

.scroll-container {
  position: relative;
  height: 100%;
  width: 100%;
}

app-hero, app-chat {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Reset any default margins/padding */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}