<app-header (dataEmitter)="onDataReceived($event)"></app-header>

<main class="main">
  <div class="background-container">
    <img src="../assets/img/hero-bg.jpg" alt="background">
    <div class="light-overlay"></div>
  </div>
  
  <div class="content">
    <div #scrollContainer class="scroll-container">
      <app-hero *ngIf="currentSection === 'hero'" [@fadeAnimation]="currentSection"></app-hero>
      <app-chat *ngIf="currentSection === 'chat'" [@fadeAnimation]="currentSection"></app-chat>
    </div>
  </div>
</main>